.chat {
    padding: .5rem;
    &__header {
        display: flex; 
        align-items: center;
        border-bottom: 1px solid gray;
        justify-content: space-between;
        &__left { 
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            &-name { 
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        &__right { 
            display: flex;
        }
    }
    &__content { 
        position: relative;
        height: 85vh;
        &__message {
            position: absolute;
            height: 70vh; 
            overflow-y: auto;
            top: 0;
            left: 0;
            right: 0;
        }
        &__form {
            position: absolute; 
            bottom: 0;
            left: 0;
            right: 0;


        }
    }
}