.chat {
    position: relative;
    &__header {
        display: flex; 
        align-items: center;
        border-bottom: 1px solid rgb(194, 192, 192);
        justify-content: space-between;
        padding: 1rem ;
        font-size: 1rem;
        &__left { 
            display: flex;
            flex-direction: column;
            &-name { 
                font-weight: 600;
            }
            &-description { 
                color: rgb(199, 199, 199);
            }
        }
        &__right { 
            display: flex;
            margin-bottom: 1rem;
        }
    }
    &__content { 
        position: relative;
        height: 85vh;

        &__message {
            position: absolute;
            height: 70vh; 
            overflow-y: auto;
            top: 0;
            left: 0;
            right: 0;
        }

        &__main { 
            border: 1px solid rgb(235, 235, 235);
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            right: 2rem;
            width: 80%;
            display: flex;
            border-radius: 20px;
            background-color: #F3F3F5;
            &-form {
               width: 100%;
               margin-left: 1rem;
            }
            &-form input { 
                border: 0;
                background-color: transparent;
                &:focus { 
                   border: 0;
                }
            }
            &-button button { 
                border: 0;
                background-color: transparent;
                margin-right: .8rem;
                &:hover { 
                    background-color: transparent;
                }
            }
        }   
    }
}

.ant-input:focus{
    box-shadow: unset !important;
}