.chat {
    &__header {
        display: flex; 
        align-items: center;
        border-bottom: 1px solid rgb(194, 192, 192);
        justify-content: space-between;
        padding: 1rem ;
        font-size: 1rem;
        &__left { 
            display: flex;
            flex-direction: column;
            &-name { 
                font-weight: 600;
            }
            &-description { 
                color: rgb(199, 199, 199);
            }
        }
        &__right { 
            display: flex;
            margin-bottom: 1rem;
        }
    }
    &__content { 
        position: relative;
        height: 85vh;
        &__message {
            position: absolute;
            height: 70vh; 
            overflow-y: auto;
            top: 0;
            left: 0;
            right: 0;
        }
        &__form {
            position: absolute; 
            bottom: 0;
            left: 0;
            right: 0;


        }
    }
}