.userInfo { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    &__avatar { 
        display: flex;
    }
    &__action { 
        display: flex;
    }
    &__actionMobile { 
        display: none;
    }
}